@import "tailwindcss";

/* Fonts import karein */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;

    /* Colors */
    --color-primary: #FF2B85;
    --color-black: #000000;
    --color-btn-hover: #C21760;
    /* --color-secondary: #F8F9FA; */
    /* --color-text-light: #6B7280; */
}